# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/__mocks__/Carrito.jsx
src/__mocks__/config/axios.js
src/__mocks__/env.js
src/__mocks__/Productos.jsx
src/__tests__/functional.test.jsx
src/__tests__/security.test.jsx
src/__tests__/functional.test.jsx
src/__tests__/functional.test.jsx
src/__tests__/functional.test.jsx
src/__tests__/functional.test.jsx
